{% extends 'base.html.twig' %}

{% block body %}

    <div class="panel panel-info">
        <div class="panel-heading">
            <h3 class="text-center">New Pointage</h3>
        </div>
        <div class="panel-body">

            {{ form_start(form) }}
                {{ form_widget(form) }}
                <input type="submit" value="Create" class="btn btn-primary" />
            {{ form_end(form) }}

            <ul>

                    <a class="btn btn-primary" href="{{ path('pointage_index') }}">Back to the list</a>

            </ul>
        </div>
    </div>
    </div>
{% endblock %}
